.order-heading h3 {
  text-align: center;
  margin: 20px 0px;
}

.order-heading div {
  font-weight: 700;
  margin: 10px 0px;
}

.order-details {
  border-bottom: 1px solid #ddd;
}

.order-details div {
  margin-bottom: 15px;
  margin-top: 15px;
}

.cancel-oreder-text {
  color: red;
  margin-top: 10px;
  text-align: center;
}
