.checkout-form {
  background-color: whitesmoke;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 40px;
}

.container h3 {
  text-align: center;
  margin-top: 22px;
}

.checkout-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
}

.checkout-details {
  padding: 30px;
}
